.user-posts-container {
    display: -ms-inline-grid;
    margin: 20px 25%;
}

.users-posts-profile {
    height: 300px;
    margin: 10px;
    cursor: pointer;
}
.users-posts-profile:hover {
    filter: invert(40%);
}
.about-post-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.options-container-about-post{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    width: 20%;
}
.post-about-posts{
    height: 50%;
}
.option-items-about{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    cursor: pointer;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 0px;
}
.option-items-about:hover {
    background-color: #D3D3D3;
    color: red;
}

@media only screen and (max-width: 600px) {
    .user-posts-container{
    width: 100%;
    margin-left: 0px;
    padding: 20px;
    }
    .users-posts-profile{
        width: 100%;
        height: min-content;
    }
}