.main-profile-container {
    padding-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 100px 50px 50px 50px;
    border-bottom: 2px solid #D8D8D8;
    display: flex;
}

.user-info-container {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user-details-container-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-profile {
    font-size: 50px;
}

.user-profile-picture {
    width: 200px;
    height: 200px;
}

.logout-btn-profile {
    width: 100px;
    padding: 10px;
    font-weight: 600;
    background-color: white;
    border: 1px solid #D8D8D8;
    cursor: pointer;
}

.logout-btn-profile:hover {
    background-color: #D8D8D8;
}

.settings-icon {
    width: 30px;
    cursor: pointer;
}

.followers-following-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.number-profile {
    display: flex;
    align-items: center;
    font-weight: 700;
}


@media only screen and (max-width: 600px) {
    .main-profile-container {
        margin-left: 0px;
        padding: 100px 22px;
        width: 100%;
    }

    .user-profile-picture {
        width: 50px;
        height: 50px;
        padding-top: 15px;
    }

    .username-profile {
        font-size: 20px;
    }

    .logout-btn-profile {
        width: 60px;
        font-size: 12px;
    }

    .settings-icon {
        width: 20px;
        height: 20px;
    }

    .user-info-container {
        padding: 10px;
    }
}