.header-home{
    display: flex;
    width: 100%;
    padding-left: 25%;
    align-items: center;
    background-color: white;
    position: fixed;
}
.icons-navbar{
    width: 25px;
    cursor: pointer;
}
#logo-home{
    height: 60px;
}
.search-bar{
    width: 10%;
    height: 10px;
    border-radius: 5px;
    background-color: #E8E8E8; 
    border: 1px solid #E8E8E8;
    padding: 10px 50px;
    background-image: url("https://www.svgrepo.com/show/14071/search.svg");
    background-repeat: no-repeat;
    background-position: left 1rem center;
    background-size: 1em;
    margin-left: 50px;
}
.search-bar:focus {
    outline: none;
    border: 2px solid #D8D8D8;
}
.icons-container-navbar{
    display: flex;
    width: 20%;
    margin-left: 100px;
    justify-content: space-between;
}

/* mobile resposive */

@media only screen and (max-width: 600px) {
    #logo-home{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .icons-container-navbar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: -100px;
        padding: 10px;
    }
    .icons-navbar{
        width: 30px;
    }
}