.sign-up-main-container{
    display: flex;
}

.sign-up-container{
    margin-top: 10%;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.left-image-signup{
    height: 100vh;
    width: auto;
    margin-right: 5%;
}

#logo-signup{
    width: 30%;
}
.sign-up-form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.terms-and-conditions{
    display: flex;
    align-items: center;
}
.icon-sign-up-terms{
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
}
.input-sign-up{
    height: 20px;
    border: 1px solid #DCDCDC;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}
.input-sign-up:focus{
    outline: none;
    border: 1px solid #989898;
}
.password {
    background-image: url("https://www.svgrepo.com/show/40039/eye.svg");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: right 1rem center;
}
.sign-up-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    color: white;
    background-color: #73C2FB;
    cursor: pointer;
    border: #73C2FB;
    font-weight: 700;
}
.sign-up-btn:hover {
    background-color: #0077c0;
}
.warning-messages{
    color: red;
}

/* mobile resposive */

@media only screen and (max-width: 600px) {
    #logo-signup{
        width: 200px;
    }
    .left-image-signup{
        display: none;
    }
    .sign-up-main-container{
        height: 100vh;
        background-image: url("https://images.unsplash.com/photo-1618331835717-801e976710b2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735");
        object-fit: scale-down;
        background-color: #73C2FB;
    }
    .sign-up-container{
        width: 100%;
    }
}