.add-friends-container{
    margin-left: 0%;
    background-color: white;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.new-friends-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.new-friends-details-container:hover{
    transform: scale(1.01,1.01);
}
.profile-picture-add-friends {
    width: 50px;
    height: 50px;
    clip-path: circle(40%);
}
.user-name-AddNewFriends{
    font-weight: 600;
}